<!doctype html>
<html>
    <head>
        <title>Meadowlark Travel</title>
        <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
        {{{_sections.head}}}
        {{#if showTests}}
            <link rel="stylesheet" href="/vendor/mocha.css">
        {{/if}}
    </head>
    <body>
        <header><img src="/img/logo.png" alt="logo"></header>

        {{{body}}}

        {{{_sections.jquery}}}

        {{#if showTests}}
            <div id="mocha"></div>
            <script src="/vendor/mocha.js"></script>
            <script src="/vendor/chai.js"></script>
            <script>
                mocha.ui('tdd');
                var assert = chai.assert();
            </script>
            <script src="/qa/tests-global.js"></script>
            {{#if pageTestScript}}
                <script src="{{pageTestScript}}"></script>
            {{/if}}
            <script>mocha.run();</script>
        {{/if}}

    </body>
</html>
